div.card {
	border-radius: 3px;
	border: 3px solid black;
	width: 20em;
	height: 23em;
	margin: 2em;
	padding: 1em;
}

div.center {
    width: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif	
}

